
.home {
    position: absolute;
    left: 15%;
    max-width: 85%;
    text-align: center;
}

.home-background img {
    top: 0;
    min-width: 100%; 
    max-height: 100vh;
}

.container-top-home {
    color: #393939;
    margin: 50px 25px;
}

.container-top-home hr {
    color: #393939;
    width: 5%
}

.container-bottom-home {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 100px 300px;
}

.subcontainer-bottom-home {
    margin: 0px 30px;
}

.subcontainer-bottom-home h3 {
    color: #393939;
}

.subcontainer-bottom-home p {
    color: #818181;
}

.subcontainer-bottom-home img {
    height: 70px;
    width: 70px;
}

.video {
    width: 560px;
    height: 315px;
    margin: 0px 25px 50px;
}